.Atmosphere {
    margin-top: 250px;
}

.Atmosphere--title { 
    font-family: 'FuturaHeavy' ,serif;
    font-size: 52px;
}

.Atmosphere--sliderAtmosphere {
    display: flex;
}

.sliderAtmosphere--gallery {
    position: relative;
    right: 0;
    display: flex;
}