.header--bgImage {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -9999;
}

.header--upRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}
.header--logotype-text {
    padding: 0;
    margin: 0;
}
.header--logotype {
    display: flex;
    align-items: center;
    line-height: 24px;
    font-family: 'Noto Sans', serif;
}
.header--logotype > img {
    display: block;
    padding-right: 35px;
    margin-right: 35px;
    border-right: 2px solid #e0e0e0; 
}
.header--logotype > p {
    line-height: 30px;
}

.header--telButton {
    cursor: pointer;
    min-width: 215px;
    height: 55px;
    border-radius: 35px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 57px;
    padding-left: 13px;
    box-shadow: 0 10px 50px rgba(0,0,0,0.1)
}

.header--telIcon{
    display: block;
    background-color: #ff1b60;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0 10px 40px rgba(255, 27, 96, 0.1);
}
.header--telIcon > img {
    position: relative;
    width: 15px;
    height: 15px;
    top: 10px;
    left: 10px;
}

.header--telButton > button {
    font-family: 'FuturaHeavy',serif;
    margin-left: 14px;
    cursor: pointer;
    background: none;
    border: none;
}

.header--title {
    font-family: 'FuturaHeavy', serif;
    font-size: 52px;
    line-height: 60px;
    margin-top: 110px;
}

.feature-container {
    font-family: 'Noto Sans', serif;
    font-size: 18px;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 0;
}

.feature-container > li {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.featureImg {
    margin-right: 20px;
}

.header--line {
    width: 100px;
    border-top: 2px solid #ff1b60;
    height: 0;
    margin-top: 15px;
}

.header--form {
    margin-top: 205px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header--form > p {
    font-family: 'FuturaHeavy', serif;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    margin-left: 95px;
    margin-right: 130px;
}

.signUp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header--sighUpContainer {
    flex-grow: 1; 
    color: #bdb9ba; 
    font-family: 'Noto Sans', serif; 
}

.signUp input {
    font-size: 16px;
    border: none;
}
.signUp input::placeholder {
    color: #bdb9ba;
}

.signUp--inputContainer {
    display: flex;
    border-bottom: 1px solid #e3e4e5;
    width: 200px;
    padding-bottom: 30px;
}
.signUp--inputContainer > img{
    margin-right: 20px;
}

.signUp--rules {
    margin-top: 30px;
    font-size: 14px;
    font-style: italic;
}

.signUp--button {
    padding: 15px;
    background-color: #ff1b60;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    width: 195px;
    border-radius: 35px;
    box-shadow: 0 10px 50px rgba($color: #ff1b60, $alpha: 0.2)
}

.signUp--rules__black {
    color: black;
    font-weight: bold;
}