@import '../../node_modules/normalize-scss/sass/normalize/_import-now.scss';
@import './_fonts.scss';
@import './Header.scss';
@import './Services.scss';
@import './AboutSafety.scss';
@import './AboutInstrument.scss';
@import './AboutLittleThings.scss';
@import './AboutGuarantee.scss';
@import './Masters.scss';
@import './Atmosphere.scss';
@import './Client.scss';

.main-container {
  min-width: 1140px;
  max-width: 1140px;
  margin: 0 auto;
}
